<!DOCTYPE html>
<html>
    <head>
        <title>Collabify</title>
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container h-100">

                <div class="row h-100 justify-content-center align-items-center">

                    <div class="text-center">

                        <p class="display-2 mb-5">Collabify</p>

                        <div>
                            <a class="btn btn-dark btn-lg mb-2 btn-block" href="/authenticate">Create a Room</a>
                        </div>

                        <div>
                            <a class="btn btn-dark btn-lg btn-block" href="/join">Join a Room</a>
                        </div>
                        
                    </div>    

                </div>
                
        </div>
        <div class="card-footer text-muted text-center">
            Brought to you by 3BR
        </div>
    </body>
</html>