<!DOCTYPE html>
<html>
    <head>
        <title>Collabify</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Oxygen|Righteous&display=swap" rel="stylesheet">
    </head>
    <body>
        <div style="font-family: 'Oxygen', sans-serif;" class="container h-100">
            <div class="row h-100 justify-content-center align-items-center text-center">
                <div class="text-center">
                    <p style="font-family: 'Righteous', sans-serif; color: white;" class="display-3 mb-5">Collabify</p>
                    <a style="font-family: 'Oxygen', sans-serif;" class="btn btn-light btn-lg mb-2 btn-block btn-style" href="/authenticate">Create a Room</a>
                    <a style="font-family: 'Oxygen', sans-serif;" class="btn btn-light btn-lg btn-block" href="/join">Join a Room</a> 
                </div>    
            </div>               
        </div>
        <div style="font-family: 'Oxygen', sans-serif;" class="card-footer text-muted text-center">
            Powered by <strong>Spotify</strong>
        </div>
    </body>
</html>