<!DOCTYPE html>
<html>
    <head>
        <title>Search</title>
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container h-100">
                <div class="row h-100 justify-content-center align-items-center">
                  <div class="col-3 text-center">
                    <div class="display-4"><p>Find Room</p></div>
                    <form action="/search" method="post">
                      <div class="form-group">
                          <div class="input-group mb-3">
                              <input type="text" class="form-control" placeholder="Enter Song Name" aria-describedby="button-addon2" name="search" required/>
                              <div class="input-group-append">
                                  <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Find</button>
                              </div>
                          </div>
                      </div>
                  </form>
                  </div>  
                </div>
    </body>
</html>