<!DOCTYPE html>
<html>
    <head>
        <title>Select Playback Device</title>
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Oxygen|Righteous&display=swap" rel="stylesheet">  
    </head>
    <body style="background-color: #87BEAD">
        <div style="font-family: 'Oxygen', sans-serif;" class="container h-100">
              <div class="col-12 text-center">
                <div class="display-4"><p>Select Your Device</p></div>
              </div>
              {% for entry in pa["Devices"]["devices"] %}
                <div class="col-12">
                    <img style="width: 75px; height: 75px;" } src='../static/player-icons/{{entry["type"]}}.svg' alt='{{entry["type"]}}'/>                    
                    <a class="btn btn-dark btn-lg my-5 ml-2" href="{{'/playback/' + pa['Room Code'] + '/' + entry['id']}}">{{ entry['name'] }}</a>
                </div>
                
              {% endfor %}  
        </div>
        <div style="font-family: 'Oxygen', sans-serif;" class="card-footer text-muted text-center">
          Powered by <strong>Spotify</strong>
        </div>
    </body>
</html>